*{
    /* border-box, the width and height of an element are defined including padding and border, which means that the total space an element occupies is fixed. This results in more consistent layouts across different elements and browsers. */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus{
    outline: none;
}

:root {
    --apple-system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --home-background: #f4f2ee;
    --primary: white;
    --text-color: #000000;
    --search-holder: #edf3f8;
    --logo-color: #0a66c2; 
    --icon-color:#646464;
    --article-icon:#e06847;
    --event-icon:#c37d16;

     }

body{
    background-color: var(--home-background);
    font-family: var(--apple-system-font);
    color:var(--text-color);
}

header{
    background-color: var(--primary);
    width: 100vw;
    height: 62px;
    border-bottom: 2px solid var(--search-holder);
    align-items: center;
    position: fixed; 
    top:0; /* Fixed position from the top of the viewport */
    left: 0; /* Fixed position from the left of the viewport */
    z-index: 100; /* Ensure it's above other content */
    padding: 0px 24px;
    box-shadow: 0px 5px 10px var(white);
}

.navbar {
    max-width: 1200px; 
    /* same width as container, navbar starts in middle of page */
    margin: 0 auto;
    /* background-color: yellow; */
    display: flex;  /* all three boxes will align with go one after another */
    /* justify-content: space-evenly; */
    height: 100%;    /*takes 100% of the height of the parent class, header */
    cursor:pointer; 
}

.navbar__left-section{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: aqua; */
}
  
.navbar__logo{
    line-height: 24px;
    display: block;

}

.navbar__logo .fa-linkedin-square{
    font-size: 40px;
    color: var(--logo-color);
    font-weight: 600;
}

.navbar__search{
    /* background-color: blueviolet; */
    margin-left: 10px;
    margin-right: 100px;
    position:relative;
    border-radius: 5px;
    width: 300px;
}

.navbar__search .fa-search{
    /* the fa.search icon is a child of the parent nav_search class */
    font-size: 15px;
    color: var(--text-color);
    /* opacity: 0.5; */
    position: absolute; 
    top: 7px;
    left: 10px;
    line-height: 24px;
}

.navbar__search input[type ="text"]{
    background-color: var(--search-holder);
    font-size: 1rem;
    border-radius: 5px;
    padding: 8px 40px;
    width: 100%;
    border: none;
    line-height: 24px;
   

}
/* MIDDLE SECTION  */
.navbar__middle-section{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-right: 2px solid var(--home-background);
    
}

.navbar__menu-box{
    /* background-color: plum; */
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px 10px;
    display: flex;
    /* same height as navbar so it all has same height  */
    height: 62px;
    margin-right: 20px;
    font-family: var(--apple-system-font); 
    font-weight: 400;
    line-height: 18px;
    display: inline-flex;
  align-items: center;
    
}
.navbar__menu-box:last-child {
    margin-left: auto; /* Push the last menu-box to the right */
    /* margin-right: auto; Push the last menu-box to the right */

}

.menu-tabs__icon {
   color:var(--icon-color);
   font-size: 12px;;

}

.notification__icon{
    position: relative;
}

.notification-bubble{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    top: 0px; /* Adjust if needed */
    right: 300px; /* Adjust as needed */
    color: white;
    font-family: var(--apple-system-font);
    font-size: 14px;
    padding: 0px 2px;
    z-index: 103;
}


.menu-tabs__icon {
    width: 24px;
    height: 24px;
}



.menu-tabs__icon:hover {
    color: var(--text-color);
    opacity: 0.9;
}


 #menu-tab--dark{
    border-bottom: 2px solid black;
   
}


.menu-tabs__title{
    width: 100%; /* Or any fixed width you desire */
    height: auto; /* Or any fixed height you desire */
    white-space: nowrap; /* Prevent the text from wrapping */

}

.menu-tabs__title span{
    
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
    /* display: inline-block; */
}
#menu-box--dark{
    opacity: 0.9;
}

.avatar__icon{
    /* line-height: 240px; */
    margin-top: -5px;
}

#avatar{
    width: 30px; /* Make the image fill the container width */
    height: 30px; /*Make the image fill the container height*/
    display: block;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    /* margin-top: 0px; */
}


#carat{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* background-color: #0a66c2; */
}


/* RIGHT SECTION */
.navbar__right-section {
    /* background-color: red; */
    display: flex;
    height: 62px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* flex-wrap: nowrap; */

}


.navbar__right-tab{
    /* background-color: #0a66c2; */
    margin: 10px 5px;
    text-align: center;
    align-items: center;
    padding: 2px 10px;
    height: 62px;
    font-size: 12px;
}


.navbar__right-icon{
    font-size: 12px;
    /* background-color: #cb112d; */
    padding-top: 5px;
    line-height: 24px;
    text-align: center;
    align-items: center;
}

#title--ad{
    line-height: 18px;
    color: #5c3b09;
}


/* Left side bar  */
.home-feed__container{
    /* background-color: #5c3b09; */
    margin: 90px 0px 0px 0px;
    height: 100vh;
    /* sets the height to 100% of the viewport height */
    width: 100%;

}

.home-feed{
    /* background-color: aqua; */
    max-width: 1200px;
    margin: 0 auto;
    /* display: flex; */
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    /* sets the height to 100% of the viewport height */
}

.sidebar--left{
    background-color: var(--home-background);
    height: 100vh;
    width: 20%;
    line-height: 24px;
    /* box-shadow: 10px 5px 10px var(blue); */

}

.sidebar--top{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow values as needed */

}

.sidebar-profile__box{
    background-color: white; 
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    border-bottom:  2px solid var(--search-holder);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.profile__background {
    width: 100%;
    /* taking 100% of its parent class */
    height: auto;
    position: relative;
    background-size: cover;
    
}


.profile__background img{
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: auto; /* Allow te height to adjust proportionally */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

 .profile__image{
    padding-bottom: 40px;

} 

.profile__image img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 127px;
    left: 202px;
    border: solid white 6px;
    /* transform: translate(-50%, -50%); */
}

.profile__name{
    /* background-color: #5c3b09; */
    line-height: 24px;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
}
.profile__description{
    /* background-color: cadetblue; */
    opacity: 0.6;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0px 20px 0px;
}

/* connections bax */
.sidebar-connections__box{
    /* background-color: RED; */
    padding: 10px 12px;
    /* align-items: baseline; */
    border-bottom:  2px solid var(--home-background);
    

}
.connections-box__items{
    /* background-color: #5c3b09; */
    /* display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr); */
    font-size: 12px;
    /* display: block; */
}
    .connections__wrapper{
        display: flex;
        justify-content: space-between
    }

    .connections__title{
    color: #646464;
    font-weight: 600;
    text-align: left;
    /* background-color: aqua; */
    }

    .connections__number{
    /* background-color: darksalmon; */
    text-align: center;
    color: var(--logo-color);

    }

    .connections__number , .number {
        /* background-color: darksalmon; */
        display: flex;
        justify-content: flex-end; 
        /* margin-left: 20px; */
    
        }

    .connections__cta , .cta{
        font-size: 12px;
        font-weight: 600;
        color: black;
        text-align: left;
        text-decoration: none;
    }
    
    
    /* ad box begins here  */
    .sidebar-ad__box{
        border-bottom:  2px solid var(--home-background);
        padding: 10px 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow values as needed */

    }

    .ad-message__one{
        /* background: #5c3b09; */
        align-items: left;
        margin-bottom: 10px;

    }

    .ad-message__one span{
        font-size: 12px;
        color: grey;
        font-weight: 500;
        line-height: 16px;

    }

    .ad-cta{
        display: flex;
        align-items: left;
    }

    .profile-icon {
        margin-right: 7px;
    }

    .profile-icon #ad-icon {
        fill: rgb(248, 199, 126);
        width: 12px;
        height: 12px;
    }

    .ad-message__two{
        text-align: center;
        font-size: 12px;
    }

    .ad-message__two span{
        font-weight: 600;
        
    }

    /* bookmark/ my item section */
    .sidebar-bookmark__box{
        /* background-color: #646464; */
        padding: 10px 12px;
        height: auto;
        /* border-bottom: 2px solid black; */
        border-radius: 5px;
    }

    .bookmark__box--inner{
        display: flex;
        line-height: 16px;
        text-align: center;
        align-items: center;
    }

    .profile-icon #bookmark-icon{
        font-size: 12px;
        height: 12px;
    }

    .bookmark__title{
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

/* bottom od side bar  */

.sidebar--bottom{
    background-color: white;
    margin-top: 15px;
    /* padding: 10px 12px; */
    border-radius: 10px;
    line-height: 20px;
    /* background-color: #5c3b09; */


}

.sidebar--bottom a{
    text-decoration: none;
    color: var(--logo-color);
    font-weight: 600;
    /* line-height: 16px; */
    text-align: left;
    align-items: left;
    font-size: 12px;   
}


.sidebar__box{
    padding: 2px 0px;
    /* background-color: #5c3b09; */
    /* width: 100%; */
    padding: 10px 12px;
}


 #box--two{
 display: flex;
 /* background-color: #5c3b09; */
 justify-content: space-between;
}


.events-icon svg {
    width: 14px;
    height: 14px;
    font-weight: 600;
}

.discover__box{
    /* background-color: aquamarine; */
    width: 100%;
    border-top: 2px solid var(--search-holder);
    text-align: center;
    align-items: center;
    padding: 16px 20px;
    color: var(--icon-color);
    font-weight: 600;
    font-size: 14px;
    /* opacity: 0.9; */
    
}

 /* middle section of home feed */

 .sidebar--middle{
    /* background: yellow; */
    width: 50%;
    height: 100vh;
    /* background-color: white; */
 }

 .share-box-feed-entry{
    width: 100%;
    line-height: 24px;
    /* height: 20%; */
    background-color: white;
    border-radius: 8px;
    /* box-shadow: #8c8c8c 0px 0px 0px 1px; */
    color:#646464;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 100px; */
    /* two sitting on top of eahcother */
    padding-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow values as needed */

 }

 .share-box-feed-entry__top{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    /* line-height: 1px; */

 }

 .share-box-feed-entry__avatar{
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: chartreuse; */
    width: 60px;
    height: 60px;
 }

 .share-box-feed-entry__avatar img{
        border-radius: 50%;
        width: 100%;
     }
    

.share-box-feed-post{
    /* background-color: #5c3b09; */
    width: 90%;
}

.share-box-feed-post input[type=text]{
    background-color: white;
    border-radius: 35px;
    padding: 20px;
    border: 1px solid grey;
    font-size: 14px;
    font-weight: 600;
    width: 100%;

}

.share-box-feed-post input[type=text]:hover{
    background-color: var(--search-holder);

}

.share-box-feed__bottom{
 /* background-color: #646464; */
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 line-height: 16px; 
 /* flex-wrap: wrap;  */
/* gives front and back margin  */
}


.share-box-feed__links{
    /* background-color: chartreuse; */
    display: flex;  
    line-height: 16px;  
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.share-box-icons{
    width: 25px;
    height: 25px;
    font-weight: 600;
    /* font-size: 14px; */
}
 #media {
    fill: var(--logo-color);
}

#events {
    fill: var(--event-icon);
}

#article {
    fill: var(--article-icon);
}

.link__titles a {
    text-decoration: none;
    color: var(--icon-color);
    /* background-color: #c37d16; */
    font-weight: 600;
    padding: 0px 8px;
    margin-left: 5px;
    font-size: 14px;
}




/* <div class="share-box-feed__bottom">
              <div class="share-box-feed__links" id="media__link">
                <div class="share-box-icons">
                <svg id="media" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>             
              </div>
              <div class="link__titles">
              <a href="#"> Media</a>
            </div>

              <div class="share-box-feed__links" id="media__link">
                <div class="share-box-icons">
                  <svg id ="events" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192h80v56H48V192zm0 104h80v64H48V296zm128 0h96v64H176V296zm144 0h80v64H320V296zm80-48H320V192h80v56zm0 160v40c0 8.8-7.2 16-16 16H320V408h80zm-128 0v56H176V408h96zm-144 0v56H64c-8.8 0-16-7.2-16-16V408h80zM272 248H176V192h96v56z"/></svg>
              </div>
              <a href="#"> Events </a>
              </div>

              <div class="share-box-feed__links" id="media__link">
                <div class="share-box-icons">
                  <svg id="article" xmlns=http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M168 80c-13.3 0-24 10.7-24 24V408c0 8.4-1.4 16.5-4.1 24H440c13.3 0 24-10.7 24-24V104c0-13.3-10.7-24-24-24H168zM72 480c-39.8 0-72-32.2-72-72V112C0 98.7 10.7 88 24 88s24 10.7 24 24V408c0 13.3 10.7 24 24 24s24-10.7 24-24V104c0-39.8 32.2-72 72-72H440c39.8 0 72 32.2 72 72V408c0 39.8-32.2 72-72 72H72zM176 136c0-13.3 10.7-24 24-24h96c13.3 0 24 10.7 24 24v80c0 13.3-10.7 24-24 24H200c-13.3 0-24-10.7-24-24V136zm200-24h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H376c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 80h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H376c-13.3 0-24-10.7-24-24s10.7-24 24-24zM200 272H408c13.3 0 24 10.7 24 24s-10.7 24-24 24H200c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 80H408c13.3 0 24 10.7 24 24s-10.7 24-24 24H200c-13.3 0-24-10.7-24-24s10.7-24 24-24z"/></svg>              </div>
              <a href="#"> Write article</a>
              </div>


          </div> */













 .sidebar--right{
    width: 30%;
    height: 100vh;
    background-color: blueviolet;

 }