*{
    /* border-box, the width and height of an element are defined including padding and border, which means that the total space an element occupies is fixed. This results in more consistent layouts across different elements and browsers. */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus{
    outline: none;
}

:root {
    --apple-system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --home-background: #f4f2ee;
    --primary: white;
    --text-color: #000000;
    --search-holder: #edf3f8;
    --logo-color: #0a66c2; 
    --icon-color:#646464;
    --article-icon:#e06847;
    --event-icon:#c37d16;

     }

body{
    background-color: var(--home-background);
    font-family: var(--apple-system-font);
    color:var(--text-color);
}

header{
    background-color: var(--primary);
    width: 100vw;
    height: 62px;
    border-bottom: 2px solid var(--search-holder);
    align-items: center;
    position: fixed; 
    top:0; /* Fixed position from the top of the viewport */
    left: 0; /* Fixed position from the left of the viewport */
    z-index: 100; /* Ensure it's above other content */
    padding: 0px 24px;
    box-shadow: 0px 5px 10px var(white);
}

.navbar {
    max-width: 1200px; 
    /* same width as container, navbar starts in middle of page */
    margin: 0 auto;
    /* background-color: yellow; */
    display: flex;  /* all three boxes will align with go one after another */
    /* justify-content: space-evenly; */
    height: 100%;    /*takes 100% of the height of the parent class, header */
    cursor:pointer; 
}

.navbar__left-section{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: aqua; */
}
  
.navbar__logo{
    line-height: 24px;
    display: block;

}

.navbar__logo .fa-linkedin-square{
    font-size: 40px;
    color: var(--logo-color);
    font-weight: 600;
}

.navbar__search{
    /* background-color: blueviolet; */
    margin-left: 10px;
    margin-right: 100px;
    position:relative;
    border-radius: 5px;
    width: 300px;
}

.navbar__search .fa-search{
    /* the fa.search icon is a child of the parent nav_search class */
    font-size: 15px;
    color: var(--text-color);
    /* opacity: 0.5; */
    position: absolute; 
    top: 7px;
    left: 10px;
    line-height: 24px;
}

.navbar__search input[type ="text"]{
    background-color: var(--search-holder);
    font-size: 1rem;
    border-radius: 5px;
    padding: 8px 40px;
    width: 100%;
    border: none;
    line-height: 24px;
   

}
/* MIDDLE SECTION  */
.navbar__middle-section{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-right: 2px solid var(--home-background);
    
}

.navbar__menu-box{
    /* background-color: plum; */
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px 10px;
    display: flex;
    /* same height as navbar so it all has same height  */
    height: 62px;
    margin-right: 20px;
    font-family: var(--apple-system-font); 
    font-weight: 400;
    line-height: 18px;
    display: inline-flex;
  align-items: center;
    
}
.navbar__menu-box:last-child {
    margin-left: auto; /* Push the last menu-box to the right */
    /* margin-right: auto; Push the last menu-box to the right */

}

.menu-tabs__icon {
   color:var(--icon-color);
   font-size: 12px;;
   width: 24px;
   height: 24px;
   position: relative;
/* thats the parent class in child  */
}

.menu-tabs__icon {
    width: 24px;
    height: 24px;
    position: relative;
}

/* .notification__icon{
    position: relative;
} */

.notification-bubble{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #cb112d; 
    top: -5px; /* Adjust if needed */
    right: -10px; /* Adjust as needed */
    color: white;
    font-family: var(--apple-system-font);
    font-size: 14px;
    padding: 0px 2px;

    /* z-index: 103; */
}




.menu-tabs__icon:hover {
    color: var(--text-color);
    opacity: 0.9;
}


 #menu-tab--dark{
    border-bottom: 2px solid black;
   
}


.menu-tabs__title{
    width: 100%; /* Or any fixed width you desire */
    height: auto; /* Or any fixed height you desire */
    white-space: nowrap; /* Prevent the text from wrapping */

}

.menu-tabs__title span{
    
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
    /* display: inline-block; */
}
#menu-box--dark{
    opacity: 0.9;
}

.avatar__icon{
    /* line-height: 240px; */
    margin-top: -5px;
}

#avatar{
    width: 30px; /* Make the image fill the container width */
    height: 30px; /*Make the image fill the container height*/
    display: block;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    /* margin-top: 0px; */
}


#carat{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* background-color: #0a66c2; */
}


/* RIGHT SECTION */
.navbar__right-section {
    /* background-color: red; */
    display: flex;
    height: 62px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* flex-wrap: nowrap; */

}


.navbar__right-tab{
    /* background-color: #0a66c2; */
    margin: 10px 5px;
    text-align: center;
    align-items: center;
    padding: 2px 10px;
    height: 62px;
    font-size: 12px;
}


.navbar__right-icon{
    font-size: 12px;
    /* background-color: #cb112d; */
    padding-top: 5px;
    line-height: 24px;
    text-align: center;
    align-items: center;
}

#title--ad{
    line-height: 18px;
    color: #5c3b09;
}


/* Left side bar  */
.home-feed__container{
    /* background-color: #5c3b09; */
    margin: 90px 0px 0px 0px;
    height: 100vh;
    /* sets the height to 100% of the viewport height */
    width: 100%;

}

.home-feed{
    /* background-color: aqua; */
    max-width: 1200px;
    margin: 0 auto;
    /* display: flex; */
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    /* sets the height to 100% of the viewport height */
}

.sidebar--left{
    background-color: var(--home-background);
    height: 100vh;
    width: 20%;
    line-height: 24px;
    /* position:fixed; */
    /* box-shadow: 10px 5px 10px var(blue); */

}

.sidebar--top{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow values as needed */

}

.sidebar-profile__box{
    background-color: white; 
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    border-bottom:  2px solid var(--search-holder);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    /* this  is he parent class */

}

.profile__background {
    width: 100%;
    /* taking 100% of its parent class */
    height: auto;
    /* position: relative; */
    background-size: cover;    
    
}


.profile__background img{
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: auto; /* Allow te height to adjust proportionally */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

 .profile__image{
    padding-bottom: 40px;
    position: absolute;
    /* this the child class */
    top: 30px;
    left: 70px;
    
} 

.profile__image img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: solid white 6px;
    /* transform: translate(-50%, -50%); */
}

.profile__name{
    /* background-color: #5c3b09; */
    line-height: 10px;
    padding: 50px 20px 10px 20px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    align-items: center;
}
.profile__description{
    /* background-color: cadetblue; */
    opacity: 0.6;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0px 20px 0px;
    text-align: center;
    align-items: center;
}

/* connections bax */
.sidebar-connections__box{
    /* background-color: RED; */
    padding: 10px 12px;
    /* align-items: baseline; */
    border-bottom:  2px solid var(--home-background);
    

}
.connections-box__items{
    /* background-color: #5c3b09; */
    /* display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr); */
    font-size: 12px;
    /* display: block; */
}
    .connections__wrapper{
        display: flex;
        justify-content: space-between
    }

    .connections__title{
    color: #646464;
    font-weight: 600;
    text-align: left;
    /* background-color: aqua; */
    }

    .connections__number{
    /* background-color: darksalmon; */
    text-align: center;
    color: var(--logo-color);

    }

    .connections__number , .number {
        /* background-color: darksalmon; */
        display: flex;
        justify-content: flex-end; 
        /* margin-left: 20px; */
    
        }

    .connections__cta , .cta{
        font-size: 12px;
        font-weight: 600;
        color: black;
        text-align: left;
        text-decoration: none;
    }
    
    
    /* ad box begins here  */
    .sidebar-ad__box{
        border-bottom:  2px solid var(--home-background);
        padding: 10px 12px;
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Adjust shadow values as needed */

    }

    .ad-message__one{
        /* background: #5c3b09; */
        align-items: left;
        margin-bottom: 10px;

    }

    .ad-message__one span{
        font-size: 12px;
        color: grey;
        font-weight: 500;
        line-height: 16px;

    }

    .ad-cta{
        display: flex;
        align-items: left;
    }

    .profile-icon {
        margin-right: 7px;
    }

    .profile-icon #ad-icon {
        fill: rgb(248, 199, 126);
        width: 12px;
        height: 12px;
    }

    .ad-message__two{
        text-align: center;
        font-size: 12px;
    }

    .ad-message__two span{
        font-weight: 600;
        
    }

    /* bookmark/ my item section */
    .sidebar-bookmark__box{
        /* background-color: #646464; */
        padding: 10px 12px;
        height: auto;
        /* border-bottom: 2px solid black; */
        border-radius: 5px;
    }

    .bookmark__box--inner{
        display: flex;
        line-height: 16px;
        text-align: center;
        align-items: center;
    }

    .profile-icon #bookmark-icon{
        font-size: 12px;
        height: 12px;
    }

    .bookmark__title{
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

/* bottom od side bar  */

.sidebar--bottom{
    background-color: white;
    margin-top: 15px;
    /* padding: 10px 12px; */
    border-radius: 10px;
    line-height: 20px;
    /* background-color: #5c3b09; */


}

.sidebar--bottom a{
    text-decoration: none;
    color: var(--logo-color);
    font-weight: 600;
    /* line-height: 16px; */
    text-align: left;
    align-items: left;
    font-size: 12px;   
}


.sidebar__box{
    padding: 2px 0px;
    /* background-color: #5c3b09; */
    /* width: 100%; */
    padding: 10px 12px;
}


 #box--two{
 display: flex;
 /* background-color: #5c3b09; */
 justify-content: space-between;
}


.events-icon svg {
    width: 14px;
    height: 14px;
    font-weight: 600;
}

.discover__box{
    /* background-color: aquamarine; */
    width: 100%;
    border-top: 2px solid var(--search-holder);
    text-align: center;
    align-items: center;
    padding: 16px 20px;
    color: var(--icon-color);
    font-weight: 600;
    font-size: 14px;
    /* opacity: 0.9; */
    
}

 /* middle section of home feed */

 .home-feed--middle{
    /* background: yellow; */
    width: 50%;
    height: 100vh;
    /* background-color: white; */
 }

 .share-box-feed-entry{
    width: 100%;
    line-height: 24px;
    /* height: 20%; */
    background-color: white;
    border-radius: 8px;
    /* box-shadow: #8c8c8c 0px 0px 0px 1px; */
    color:#646464;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 100px; */
    /* two sitting on top of eahcother */
    padding-bottom: 10px;
    /* box-shadow: 0 10px 9px rgba(0, 0, 0, 0.1);  */

 }

 .share-box-feed-entry__top{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    /* line-height: 1px; */

 }

 .share-box-feed-entry__avatar{
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: chartreuse; */
    width: 60px;
    height: 60px;
 }

 .share-box-feed-entry__avatar img{
        border-radius: 50%;
        width: 100%;
     }
    

.share-box-feed-post{
    /* background-color: #5c3b09; */
    width: 90%;
}

.share-box-feed-post input[type=text]{
    /* background-color: lightgray; */
    border-radius: 35px;
    padding: 20px;
    border: 1px solid grey;
    font-size: 14px;
    font-weight: 550;
    width: 100%;
    /* opacity:0.9; */

}

/* .share-box-feed-post input[type=text]:hover{
    background-color: lightgray;

} */

.share-box-feed__bottom{
 /* background-color: #646464; */
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 line-height: 16=4px; 
 text-align: center;
 align-items: center;
 /* flex-wrap: wrap;  */
/* gives front and back margin  */
}


.share-box-feed__links{
    /* background-color: chartreuse; */
    display: flex;  
    line-height: 14px;  
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.share-box-icons{
    width: 25px;
    height: 25px;
    font-weight: 600;
    /* font-size: 14px; */
    text-align: center;
    align-items: center;
    /* background-color: red; */
}
 #media {
    fill: var(--logo-color);
    opacity: 0.9;
}

#events {
    fill: var(--event-icon);
    /* width: 24px;
    height: 24px; */
}

#article {
    fill: var(--article-icon);
}

.link__titles a {
    text-decoration: none;
    color: var(--icon-color);
    /* background-color: #c37d16; */
    font-weight: 600;
    padding: 0px 8px;
    margin-left: 5px;
    font-size: 14px;
}


/* horizontal line break  */

.post-divider{
    fill:black;
    display: flex;
    /* line-height: 16px; */
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
    font-size: 13.3px;
}

.divider__dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* background-color: red; */
    padding: 2px;
}

.divider__dropdown a{
    font-size: 13px;
    text-align: center;
    align-items: center;
    margin-right: 5px;
    font-weight: 500;
    opacity: 0.7;
    color: #646464;

}

.divider__dropdown #word {
    font-weight: 800;
    color: black;
    align-items: center;
    text-align: center;
    /* background-color: blue; */
}

hr {
    border: none; /* Remove default border */
    height: 2px; /* Set height */
    width:  80%;
    background-color: grey; 
    opacity: 0.4;
    margin: 20px 0;
    align-items: center;
    text-align: center; 
}

.divider__dropdown-icon{
    width: 10px;
    height: 10px;
    align-items: center;
    text-align: center;
    /* background-color: #c37d16; */
    margin-left: 2px;
    opacity: 0.8;
    

}


/* =================== POSTS ==================== */

.feed-posts{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow values as needed */
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px;
}

.reaction-alert{
    /* background-color:pink; */
    align-items: center;  
    text-align: center; 
    justify-content: space-between;
    font-size:12px;
    display: flex;
    margin: 5px 10px 10px 10px; 
    /* top right bottom left */
    padding:10px 10px 5px 10px;
    border-bottom: var(--search-holder) 2px solid;
    
}

.reaction-alert__avatar{
    border-radius: 50%;
    width: 25px;
    height:25px;
    /* background-color: red; */
    /* margin-right: auto; */

    
}

.reaction-alert__avatar img{
    border-radius: 50%;
    width: 25px;
    height:25px;
    background-position: 50% 50%;
    background-size:cover;
}


.reaction-alert-profile{
    /* background-color: blue; */
    font-size: 12px;
    color: black;
    margin-left: 5px;

}

.reaction-alert-profile span{
    text-decoration: none;
}

.reaction-alert__avatar , .reaction-alert-profile{
    margin-right: auto;
}


.reaction-components{
    display: flex;
    text-align: center;
    align-items: center;
    /* background-color: #5c3b09; */
}


.reaction-icons{
    /* background-color: #c37d16; */
    display: flex;
    /* text-align: right; */
    align-items: center;
    justify-content: space-between;
    color: var(--icon-color);
    font-size: 14px;

}

#ellipses{
    /* background-color: red; */
    width: 15px;
    height: 15px;
    
}

#ellipses:hover{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--search-holder);
}

#x-mark{
    /* background-color: blue; */
    width: 15px;
    height: 15px;
    margin-left:17px;
    color: var(--icon-color);
    opacity: 0.7;
}

#x-mark:hover{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--search-holder);
}


/* ===================== CONTENT POSTS ================ */
.post-content{
    /* background-color: yellow; */
    /* padding: 10px; */

}

.post--top{
    /* background-color: #e06847; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding:5px 10px 8px 10px;

}
.post-profile__img{
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: chartreuse; */
    width: 50px;
    height: 50px;
    margin-right: 10px;
    align-items: center;

}

.post-profile__img img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: contain;
}

.post-profile-name{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    text-align: left;
    text-indent: none;
    margin-right: auto;
    line-height:1.5;
    font-size: 12px;
}

#bio{
    font-size: 12px;
    line-height:1.5;
}

.date{
    display: flex;
    /* background-color: #c37d16; */
    /* text-align: center;
    align-items: center; */
    line-height: 1.5;
}

.week{
    text-align: center;
    align-items: center;
    /* background-color: red; */
}

.dot{
    width: 4px;
    height: 4px;
    fill: #646464;
    text-align: center;
    align-items: center;
    margin-left: 5px;

  
    /* align-items: end; */
}

.globe-icon{
    width:10px;
    height:10px;
    margin-left: 5px;
    text-align: center;
    align-items: center;
}

.follow__update{
    display:flex;
    margin-left: auto;
    fill: var(--logo-color);
    align-items: center;
    text-align: center;
    margin-right: 5px;
    
}

.follow__update a{
   text-decoration: none;
   color: #0a66c2;
   font-weight: 600;
}

.follow-icon{
    width:15px;
    height:15px;
    margin-right: 6px;
}


.post--middle{
    font-size: 14px;
    margin:0px 1px;
    padding:3px 16px 20px;
    line-height: 1.8;
    /* text-indent: 2px; */
    text-align:left;
    /* background-color: #c37d16; */

}

.post-image{
 /* background-color: #5c3b09; */
 width: 100%;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}

.post-image img {
   width: 100%;
}

/* ======================================= post end area ===========================  */

.social-details{
    /* background-color: red; */
    display: flex;
    font-size: 12px;
    padding:5px 10px 8px 10px;
    margin: 2px;
    align-items: center;
    text-align: center;
    border-bottom: 2px var(--search-holder) solid;
}

.social-emojis{
    display: block;
    /* background-color: #e06847; */
    /* vertical-align: bottom; */
    position: relative;
    align-items: center;
    text-align: center;
    margin-right: 6px;

}

.social-counts{
    text-align: center;
    /* align-items: center; */
    display: flex;
    /* margin-right: auto; */
    justify-content: space-between;
    /* background-color: #5c3b09; */
    opacity: 0.5;
}

.social-counts:hover{
    color: var(--logo-color);
    opacity: 0.9;
    text-decoration: underline;

}

.social-right{
    text-align: center;
    /* align-items: center; */
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    /* background-color: #5c3b09; */
    opacity: 0.5;
}

.social-right:hover{
    color: var(--logo-color);
    opacity: 0.9;
    text-decoration: underline;

}
.social-comments{
    margin-right: 5px;
}

.repost-counts{
    margin-left: 5px;
}


.dot-separator{
    width: 3px;
    height: 3px;
}


.feed-share{
    /* background-color: pink; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    /* space evenly gives a left and right margins  */
    padding: 4px 10px 4px 10px;
    /* top right bottom left  */
    text-align: center;
    align-items: center;
    box-shadow: 0px 5px 10px var(white);

   
}

.feed-share__buttons{
    font-size: 20px;
    border-radius: 4px;
    width: 100%;
    /* height: 100%; */
    display: flex;
    padding: 4px 16px 4px 16px;
    /* background-color: yellow; */
    fill: var(--icon-color);
    /* justify-content: space-between; */
    text-align: center;
    align-items: center;
    line-height: 50px;
    margin: 5px;
    border: 1px solid white;

}

.feed-share__buttons:hover{
    background-color: var(--search-holder);
    /* opacity: 0.2; */
}

.btn{
    display: flex;
    width: 30px;
    height:30px;
    text-align: center;
    /* align-items: center; */
    margin-right: 20px;
    /* justify-content: center; */

}


#like-btn{
    /* margin-left: 5px; */
    /* background-color: #e06847; */

}


.btn-title{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--icon-color);
    text-align: center;
    align-items: center;
}

/* #bio-four{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    
    white-space: nowrap;
} */

 


/* ====================side bar right========================== */


 .sidebar--right{
    width: 30%;
    height: 100vh;
    /* background-color: blueviolet; */
 }

    .news-feed--top{
    /* background-color: #e06847; */
    /* padding: 12px 0px; */
    color: #000000;
    background-color: white;
    border-radius: 4px;
    /* display: block; */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow values as needed */

    }

.news-feed__title{
    /* background-color: aquamarine; */
    font-weight: 600;
    text-transform: capitalize;
    line-height: 24px;
    padding: 10px 16px 0px 10px;
    /* margin: 4px 0px 0px 0px; */
}

.news-feed-modules{
    /* background-color: #646464; */
    text-align: left;
    line-height: 15px;
    display: inline-flex;
    flex-direction: column;
    padding:5px;
    margin: 0px;
    /* margin: 6px;; */
    

}

.news-feed__headline{
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    padding: 0px 16px 0px 0px;
    /* background-color: #cb112d; */
    margin: 4px 0px 0px ;
    /* line-height: 20px; */
}

.news-feed-modules:hover{
    background-color: var(--search-holder);
}

.news-feed__headline ul {
    list-style-type:disc; /* or any other list-style-type you prefer */
    padding-left: 20px; /* Adjust as needed */
}

.news-feed__time{
    padding-left: 20px; /* Adjust as needed */
    opacity: 0.3;
    font-size: 12px;

}

.news-feed__tab{
    /* background-color: #5c3b09; */
    display: inline-flex;
    /* padding-left: 20px; Adjust as needed */
    margin: 0px 0px 0px 2px;
    padding: 5px 7px 20px 20px;
    text-align: center;
    align-items: center;
}

.news-feed__tab-title{
    color: var(--icon-color);
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}

.chevron-down{
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    opacity: 0.5;
}
/* <div class="news-feed__tab">
<div class="news-feed__tab-title"></div>
<span> Show more </span>
</div>
<div class="chevron-down">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
</div> */

/* 

 <div class="sidebar--right">
 <div class="news-feed">
   <div class="news-feed--top">
    
     <div class="news-feed__title">
     <span> LinkedIn News</span>
     </div>
     
     <div class="news-feed__icon">
     <svg role="none" aria-hidden="true" class="news-module__notify-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" data-supported-dps="16x16" data-test-icon="signal-notice-small">
       <!---->    
       
           <use href="#signal-notice-small" width="16" height="16"></use>
       </svg>
     </div>
     <!-- news feed icon  -->
 <div class="news-feed-modules">
     <div class="news-feed__headline">
     <ul>
      <li><h3> AMC : concert films driving a growth </h3></li>
     </ul>
     </div>
     <!-- headline ends here -->
     <div class="news-feed__time">
       <span> 1h ago </span>
     </div>
     <!-- time ends here -->

   </div>
   <!-- modules end here -->



   </div>
   <!-- top news feed ends  -->










 </div>
 <!-- larger news feed  -->

</div> */
